 $PROJDIR/Temp/
 $PROJDIR/Library/
 $PROJDIR/Obj/
 
# exclude everything
 Connorville/Temp/*
 Connorville/Library/*
 Connorville/Obj/*

 # exception to the rule
 !Connorville/Temp/.gitkeep 
 !Connorville/Library/.gitkeep 
 !Connorville/Obj/.gitkeep 

 *.csproj
 *.unityproj
 *.sln
 *.user
 *.userprefs
 *.DS_store
