Connorville/Temp/**
Connorville/Library/**
Connorville/Obj/**

Sandbox/Temp/**
Sandbox/Library/**
Sandbox/Obj/**

Desert\ Survival/Temp/**
Desert\ Survival/Library/**
Desert\ Survival/Obj/**

# syntax: glob
*.csproj
*.sln
*.suo

*.unityproj
*.user
*.userprefs
*.DS_store

